.section-title {
  padding: 0;
  margin: 0 20px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media(min-width: $tablet) {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0 30px;
  }

  @media(min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}