.contacts {
  @media (min-width: $desktop) {
    position: relative;
    padding: 93px 0 107px;
  }
}

.contacts__invite {
  @media (min-width: $desktop) {
    position: relative;
    z-index: 5;
    left: 50%;
    margin-left: -610px;
  }
}

.contacts__map {
  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
