.header {
  background: url("../../images/logo-mobile-background.svg") no-repeat center 23px;
  padding: 65px 0 0;
  position: relative;
  z-index: 20;

  @media(min-width:$tablet ) {
    background: none;
    padding-top: 0;
    margin: 0 30px;
    min-height: 86px;
  }

}

.header__logo {
  position: absolute;
  top: 13px;
  left: 20px;

  @media(min-width:$tablet ) {
    top: 25px;
    left: 0;
  }
}

.header__nav {}