.main-menu {
  padding: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;

  @media(min-width:$tablet ) {
    border-top: none;
  }
}

.main-menu__item {
  border-bottom: 1px solid #e6e6e6;

  @media(min-width:$tablet ) {
    border-bottom: none;
  }
}

.main-menu__link {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 23px 0 22px 0;

  @media(min-width:$tablet ) {
    padding: 9px 4px 9px;
    font-size: 18px;
    line-height: 24px;
  }
}