.nav {
  position: relative;
}

.nav__toggle {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -45px;
  right: 21px;
  background: url("../../images/burger-mobile.svg") no-repeat center;
  border: none;
  display: none;
}

.nav--closed .nav__toggle {
  background-image: url("../../images/burger-mobile.svg");
  display: block;

  @media(min-width:$tablet ) {
    display: none;
  }
}

.nav__main-menu {
  margin: 0;

  @media(min-width:$tablet ) {
    display: flex;
    position: relative;
    width: 500px;
    margin-left: auto;
    justify-content: flex-end;
    padding-top: 30px;
    gap: 26px;
  }
}

.nav--closed .nav__main-menu {
  display: none;

  @media(min-width:$tablet ) {
    display: flex;
    position: relative;
    width: 500px;
    margin-left: auto;
    justify-content: flex-end;
    padding-top: 30px;
    gap: 26px;
  }
}

.nav--opened .nav__toggle {
  background-image: url("../../images/cross-mobile.svg");
  display: block;

  @media(min-width:$tablet ) {
    display: none;
  }
}

.nav--opened .nav__main-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;

  @media(min-width:$tablet ) {
    display: flex;
    position: relative;
    width: 500px;
    margin-left: auto;
    justify-content: flex-end;
    padding-top: 30px;
    gap: 26px;
  }
}