.programs {
  margin: 0 20px;

  @media(min-width: $tablet) {
    margin: 0 30px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media(min-width: $tablet) {}

  @media(min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    margin: 0 auto;
    justify-content: space-between;

  }
}

.programs__item {
  background-color: #f2f2f2;
  padding: 24px 20px 18px;
  margin-bottom: 20px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media(min-width: $tablet) {
    min-height: 372px;
    box-sizing: border-box;
    padding: 77px 314px 57px 54px;
    margin-bottom: 30px;


    &::before {
      content: "";
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $green;
      position: absolute;
      right: 63;
      top: 92;
    }

    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }

    &--slim::after {
      width: 140px;
      height: 194px;
      right: 93px;
      top: 81px;
      background-image: url("../../images/cat-slim.svg");
    }

    &--pro::after {
      width: 268px;
      height: 112px;
      right: 29px;
      top: 135px;
      background-image: url("../../images/cat-pro.svg");
    }
  }

  @media(min-width: $desktop) {
    width: 570px;
  }
}

.programs__title {
  min-height: 45px;
  margin: 0;
  padding: 5px 0 0 70px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 22px;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green;
    position: absolute;
    left: 0;
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

  }

  @media(min-width: $tablet) {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.programs__item--slim .programs__title::after {
  width: 36px;
  height: 50px;
  left: 7px;
  top: -3px;
  background-image: url("../../images/cat-slim.svg");
}

.programs__item--pro .programs__title::after {
  width: 67px;
  height: 28px;
  left: -7px;
  top: 10px;
  background-image: url("../../images/cat-pro.svg");
}

.programs__description {
  padding: 0;
  margin: 0 0 16px;
  color: #444444;
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 22px;
  margin-bottom: 15px;

  @media(min-width: $tablet) {
    margin: 0 0 52px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
  }
}

.programs__link {
  font-size: 16px;
  font-weight: 400px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 50px;
  position: relative;

  &::before {
    content: "";
    width: 24px;
    height: 12px;
    position: absolute;
    left: calc(100% - 32px);
    top: 2px;
    background-image: url("../../images/arrow-right.svg");
    background-position: right top;
    background-repeat: no-repeat;
    transition: width 0.3s ease-in-out;
  }

  @media(min-width: $tablet) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    &::before {
      left: calc(100% - 26px);
      top: 9px;
    }
  }
}

.programs__link:hover::before {
  width: 32px;
}