.service {
  padding: 19px 0 47px;

  @media (min-width: $tablet) {
    padding-top: 45px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop) {
    border: none;
    padding-bottom: 0;
  }
}

.service__title {
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 72px;
  }
}

.service__list {
  padding: 0;
  margin: 0 20px;
  list-style: none;

  @media (min-width: $tablet) {
    flex-wrap: wrap;
    width: 710px;
    margin: 0 auto;
    display: flex;
    gap: 37px 143px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    gap: 37px 83px;
  }
}


.service__item {
  position: relative;
  padding-left: 80px;
  min-height: 60px;
  margin-bottom: 17px;
  padding-top: 3px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $green;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf::before {
    background-image: url("../../images/icon-leaf.svg");
  }

  &--powder::before {
    background-image: url("../../images/icon-powder.svg");
  }

  &--food::before {
    background-image: url("../../images/icon-food.svg");
  }

  &--scales::before {
    background-image: url("../../images/icon-scales.svg");
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    width: 242px;
    min-height: 280px;
    padding-left: 0;
    box-sizing: border-box;
    padding-top: 111px;
    margin-bottom: 0;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "1";
      font-family: $oswald;
      font-size: 280px;
      font-weight: 400;
      line-height: 280px;
      color: #f2f2f2;
      position: absolute;
      top: -39px;
      right: -7px;
      width: 134px;
      text-align: left;
    }

    &:nth-child(1)::after {
      content: "1";
    }

    &:nth-child(2)::after {
      content: "2";
    }

    &:nth-child(3)::after {
      content: "3";
    }

    &:nth-child(4)::after {
      content: "4";
    }

    &:nth-child(5)::after {
      content: "5";
    }

    &:nth-child(6)::after {
      content: "6";
    }
  }
}

.service__description {
  padding: 0;
  margin: 0;
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    z-index: 5;
  }
}
